/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

@font-face {
    font-family: _roboto;
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: _salsa;
    src: url('fonts/Salsa-Regular.ttf');
}
@font-face {
    font-family: _jaldi;
    src: url('fonts/Jaldi-Regular.ttf');
}

:root {
    --gradient: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
}

*::after,
*::before,
* {
    font-family: _jaldi !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*THE APP*/
.theApp {
    overflow-x: hidden;
    position : relative;
}


/*THE APP*/

/* Header */
.navbar-css {
    z-index: 20000;
    width: 100%;
    position: fixed;
    height: fit-content;

}
.space{
    margin-top: 2.9rem;
    width: 100%;
    height: 1px;
}

.link-css {
    text-decoration: none;
    color: black;
}


/* Header */

/* Panier */

/* Panier */

/* Section-1-homeScreen */
.section1-1 {
    position: relative;
    width: 100%;
    height: 68vh;
    margin:0;
    overflow: hidden;
}

.box-section1-1 {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin:0;

}








.slider1-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;

}

/* Section-1-homeScreen */

/* Section-2-homeScreen */



.flexDisplay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hoverEffect:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;

    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Section-2-homeScreen */

/* --------------------------------------------------- */

.container-fluid-css {
    padding: 0px 8px;
}

.container-fluid-css-2 {
    padding: 5px 8px;
}

@media screen and (max-width:500px) {
    .container-fluid-css {
        padding: 0px 3px;
        background-color: grey;
    }
    .black{
                background-color: black;

    }
    

    .container-fluid-css-2 {
        padding: 5px 5px;
    }
}




/* ____________________________________________________________ */


.spanText {
    font-size: 25px !important;
    line-height: 30px;
    font-weight: 500;


}

/* ___________________________________________________________________ */
